h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Newyorksmall, Georgia, sans-serif;
  color: #1c5065;
  font-size: 55px;
  line-height: 44px;
  font-weight: 400;
}

p {
  margin-bottom: 10px;
  font-family: Karla, sans-serif;
  font-size: 22px;
  line-height: 1.3;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 0px 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 60px none #3a648f;
  background-color: #242d54;
}

.hero.intro {
  height: auto;
  padding-top: 12rem;
  padding-bottom: 12rem;
  background-color: transparent;
}

.heading {
  margin-top: 42px;
  margin-bottom: 42px;
  font-family: 'PT Serif', serif;
  color: #c5d1e7;
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 400;
}

.heading.hero {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 30px;
  color: #c5d1e7;
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 400;
}

.heading.hero.slide {
  text-align: center;
}

.heading.main-h2 {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-right: 40px;
  padding-left: 0px;
  font-family: Newyorksmall, Georgia, sans-serif;
  color: #1c5065;
  font-size: 2.8rem;
  line-height: 1.3;
  font-weight: 400;
}

.heading.main-h2.blue {
  color: #fff;
}

.heading.small {
  margin-bottom: 24px;
  font-family: Newyorksmall, Georgia, sans-serif;
  color: #131830;
  font-size: 1.6rem;
  font-weight: 400;
}

.heading.hero-h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 30px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 4.2rem;
  line-height: 1;
  font-weight: 700;
}

.heading.hero-h1.title {
  margin-bottom: 10px;
  padding-bottom: 0px;
}

.heading.hero-h1.title2 {
  font-size: 2.4rem;
}

.body {
  margin-top: 0px;
  border-style: none;
  border-width: 0px 0vw;
  border-color: #faf7eb #3a648f;
  border-radius: 0px;
  background-color: #fff;
  font-family: 'PT Sans', sans-serif;
}

.navbar {
  margin-top: 0px;
  padding: 60px 30px 15px;
  border-top: 60px none #214161;
  background-color: transparent;
}

.full-width-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 0px none #000;
  background-image: linear-gradient(61deg, #6989c7, #95f6ab);
}

.full-width-img.proj-image-full {
  border-bottom-style: none;
}

.full-width-img.matt3 {
  border-top: 30px solid #faf7eb;
}

.img-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 60px 150px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.img-col.left {
  padding-left: 0px;
}

.img-col.left.blue {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 15px none #faf7eb;
  background-color: #214161;
  text-align: center;
}

.img-col.left.blue.left-al {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-right-style: none;
  background-color: #3a648f;
  text-align: left;
}

.img-col.left.blue.project-23 {
  padding: 80px 0px;
}

.img-col.red {
  padding-right: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-left: 15px none #faf7eb;
  background-color: #fc6e69;
}

.img-col.red.project {
  padding-top: 80px;
  padding-bottom: 80px;
}

.img-col.matt {
  border-left: 15px solid #faf7eb;
  background-image: url('../images/Group.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  border: 0px none #000;
}

.red-h3 {
  margin-bottom: 0px;
  padding-left: 0px;
  font-family: 'PT Sans', sans-serif;
  color: #fc6e69;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
}

.grid {
  margin-top: 0px;
  padding-top: 0px;
  grid-column-gap: 1px;
  -ms-grid-columns: 0.25fr 0.75fr 0.75fr 0.25fr;
  grid-template-columns: 0.25fr 0.75fr 0.75fr 0.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 0px;
}

.grid.title.hero {
  padding-top: 100px;
  padding-bottom: 150px;
  -ms-grid-columns: 0.25fr 0.75fr 0.75fr 0.25fr;
  grid-template-columns: 0.25fr 0.75fr 0.75fr 0.25fr;
  border-style: none;
  border-width: 30px 1px 15px;
  border-color: #faf7eb;
}

.grid.title.hero.prect-full {
  padding-bottom: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-style: none;
  border-left-width: 0px;
}

.grid.nav {
  padding-top: 0px;
}

.workleft {
  padding-right: 30px;
  padding-bottom: 120px;
}

.workright {
  padding-left: 30px;
}

.a-tag {
  color: #fc6e69;
  font-size: 1.5rem;
  line-height: 1.5;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.a-tag.link-hero {
  color: #44a98a;
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: underline;
}

.a-tag.link-hero:hover {
  color: #d1f8ec;
  font-weight: 700;
}

.a-tag.link-col {
  padding-left: 0px;
  color: #44a98a;
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: underline;
}

.a-tag.link-col:hover {
  color: #d1f8ec;
  font-weight: 700;
}

.a-tag.link-col-wh {
  padding-left: 0px;
  font-family: Karla, sans-serif;
  color: #1c5065;
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
}

.a-tag.link-col-wh:hover {
  color: #344285;
  font-weight: 700;
  text-decoration: underline;
}

.a-tag.link-col-wh.white {
  color: #fff;
}

.a-tag.link-col-wh.new {
  color: #1c5065;
}

.p-tag {
  margin-bottom: 30px;
  padding-right: 10px;
  color: #494949;
  font-size: 1.1rem;
  line-height: 1.8;
}

.menu {
  color: #fff;
}

.menu:hover {
  color: #d1f8ec;
  font-weight: 700;
}

.menu.w--current {
  color: #fff;
}

.article-col {
  padding-bottom: 120px;
}

._2-col-grid-section {
  padding-top: 120px;
  border-bottom: 15px solid #faf7eb;
  border-radius: 0px;
}

._3-col-grid-section {
  display: block;
}

.footer.bg {
  padding: 15px 30px;
  background-color: #fff;
}

.column {
  line-height: 45px;
  text-align: right;
}

.column-2 {
  padding-left: 0px;
  line-height: 45px;
  text-align: left;
}

.footer2 {
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 15px none #faf7eb;
  background-color: #fff;
}

.slide.full-width-img {
  display: block;
}

.left-arrow {
  display: none;
}

.right-arrow {
  display: none;
}

.slider {
  height: 540px;
  background-color: transparent;
}

.heading-2 {
  font-family: 'PT Serif', serif;
  color: #fff;
  text-align: center;
}

.round {
  width: 100%;
  border-radius: 14px;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 560px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.image-3 {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.socialike {
  width: 26px;
  margin-left: 10px;
  opacity: 0.29;
}

.image-5 {
  width: 54%;
}

.intro-full {
  padding-top: 0px;
  padding-bottom: 0px;
}

.hero-project-hero {
  padding-top: 0px;
  padding-bottom: 0px;
}

.image-51 {
  width: 100%;
}

.image-75 {
  width: 50%;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.heading-4 {
  margin-top: 0px;
  color: #fff;
  font-weight: 400;
}

.header {
  background-color: transparent;
}

.copy {
  padding-right: 0px;
  padding-left: 0px;
}

.sect-flex-50 {
  display: block;
  margin-top: 0px;
  background-color: #fff;
}

.sect-flex-50.white {
  margin-top: 0px;
  background-color: #fff;
}

.sect-flex-50.gray {
  margin-top: 0px;
  background-color: #f3f3f3;
}

.sect-flex-50.blue {
  background-color: #8dd2da;
}

._50-col {
  width: 50%;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-color: transparent;
}

._50-col.right {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}

.copy-l-img-r {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 100px 180px;
  border: 0px none #000;
  background-image: none;
}

.sect-hero {
  background-color: #fff;
}

.sect-hero.home {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #fff;
}

.sect-hero.gray {
  background-color: #f3f3f3;
}

.sect-hero.blue {
  background-color: #8dd2da;
}

.col-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 180px 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  border: 0px none #000;
  background-color: transparent;
}

._50-col-pad-first {
  width: 50%;
  height: auto;
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
}

._50-col-pad-last {
  width: 50%;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 35px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
}

.col-flex-nopad {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0px 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 0px none transparent;
  background-color: transparent;
}

._50-col-red {
  width: 50%;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
  text-align: center;
}

._50-col-red.me {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  background-image: url('../images/IMG_000405x.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.image-78 {
  width: 60%;
  margin-top: 0%;
  padding-top: 0px;
  padding-bottom: 0px;
}

._50-col-lr-pad {
  width: 50%;
  height: auto;
  padding: 60px 60px 60px 100px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-color: transparent;
}

.image-79 {
  width: 100%;
}

.image-79.round {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1c5065), to(#1c5065));
  background-image: linear-gradient(180deg, #1c5065, #1c5065);
}

._3-col-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 180px 20px;
  border-bottom: 60px none #3a648f;
  background-color: transparent;
}

.three-col {
  width: 33.33%;
  padding-right: 15px;
  padding-left: 15px;
}

.green-h3 {
  margin-bottom: 0px;
  padding-left: 0px;
  font-family: 'PT Sans', sans-serif;
  color: #94f6ab;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
}

.blue-h3 {
  margin-bottom: 0px;
  padding-left: 0px;
  font-family: Karla, sans-serif;
  color: #8dd2da;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
}

.blue-h3.new {
  color: #fff;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.agency {
  width: 33.3333%;
  height: auto;
  padding: 25px 50px 25px 64px;
  background-color: transparent;
}

.clients {
  width: 60%;
  height: 400px;
  background-color: #8a2525;
}

.image-80 {
  width: 60%;
}

.logos-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 100px 100px 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 60px none #3a648f;
  background-color: #242d54;
}

.logos-mid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 0px 100px 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 60px none #3a648f;
  background-color: #242d54;
}

._50-col-lr-mega-pad {
  width: 50%;
  height: auto;
  padding: 246px 60px 246px 100px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-color: transparent;
}

.heading-5 {
  color: #41bfd7;
  font-size: 2.6875rem;
  line-height: 1.16279;
}

.image-84 {
  width: 100%;
  float: right;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
}

.heading-6 {
  margin-top: 0px;
  margin-bottom: 40px;
  color: #1c5065;
  font-size: 50px;
}

.paragraph {
  margin-bottom: 40px;
  color: #1c5065;
  line-height: 34px;
}

.button {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 20px;
  background-color: #fe7461;
  font-family: Newyorksmall, Georgia, sans-serif;
  text-align: center;
}

.button:hover {
  background-color: #ff5a43;
}

.header2 {
  position: fixed;
  z-index: 1000;
  width: 100%;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 15px none #faf7eb;
  background-color: #fff;
}

@media screen and (max-width: 991px) {
  .hero {
    height: 90vh;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #242d54;
    background-image: none;
  }
  .heading.hero {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 3rem;
  }
  .heading.main-h2 {
    margin-bottom: 30px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 3rem;
    line-height: 1.5;
  }
  .heading.small {
    margin-top: 50px;
  }
  .heading.hero-h1 {
    padding-right: 2px;
    padding-left: 2px;
    font-size: 2.8rem;
    line-height: 1.5;
  }
  .body {
    margin-top: 0px;
    border-width: 30px;
  }
  .navbar {
    margin-top: 0px;
    padding: 60px 60px 12px;
  }
  .full-width-img {
    background-image: linear-gradient(172deg, #204161 31%, #94f6ab);
  }
  .img-col {
    display: block;
    padding-top: 80px;
    padding-right: 10px;
    padding-bottom: 80px;
    text-align: center;
  }
  .img-col.left {
    padding-bottom: 0px;
    text-align: left;
  }
  .img-col.left.blue {
    padding-top: 60px;
    padding-bottom: 60px;
    border-right-style: none;
  }
  .img-col.red {
    border-top: 30px solid #faf7eb;
    border-left-style: none;
  }
  .img-col.matt {
    height: 900px;
  }
  .columns {
    display: block;
  }
  .red-h3 {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 1.3rem;
  }
  .grid {
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .grid.title.hero {
    padding-top: 80px;
    padding-bottom: 80px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .grid.nav {
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .workleft {
    padding-right: 0px;
    padding-bottom: 60px;
    padding-left: 0px;
  }
  .workright {
    padding-right: 0px;
    padding-bottom: 60px;
    padding-left: 0px;
  }
  .a-tag.link-hero {
    padding-left: 0px;
    font-size: 1.3rem;
  }
  .a-tag.link-col {
    padding-left: 0px;
    font-size: 1.3rem;
  }
  .a-tag.link-col-wh {
    padding-left: 0px;
    color: #41bfd7;
    font-size: 1.3rem;
  }
  .p-tag {
    margin-bottom: 30px;
    font-size: 1.25rem;
  }
  .menu {
    color: #214161;
  }
  .menu:hover {
    color: #41bfd7;
  }
  .footer2 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .image-3 {
    padding-top: 0px;
    padding-bottom: 50px;
  }
  .icon-2 {
    color: #fff;
  }
  .heading-4 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .header {
    background-color: transparent;
  }
  ._50-col {
    width: 100%;
  }
  ._50-col.right {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .copy-l-img-r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-image: none;
  }
  .col-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: transparent;
    background-image: none;
  }
  ._50-col-pad-first {
    width: 100%;
    padding-right: 0px;
    padding-bottom: 70px;
  }
  ._50-col-pad-last {
    width: 100%;
    padding-left: 0px;
  }
  .col-flex-nopad {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: transparent;
    background-image: none;
  }
  ._50-col-red {
    width: 100%;
    padding-bottom: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  ._50-col-red.me {
    height: 700px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .image-78 {
    width: 50%;
  }
  ._50-col-lr-pad {
    width: 100%;
    padding: 100px;
  }
  ._3-col-flex {
    padding-top: 100px;
    padding-bottom: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: transparent;
    background-image: none;
  }
  .three-col {
    width: 100%;
    padding-bottom: 60px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .three-col.last-bottom {
    padding-bottom: 0px;
  }
  .green-h3 {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 1.3rem;
  }
  .menu-button {
    background-color: transparent;
  }
  .nav-menu {
    background-color: #faf7eb;
  }
  .blue-h3 {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 1.3rem;
  }
  .agency {
    padding-right: 10px;
    padding-left: 10px;
  }
  .logos-top {
    height: auto;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #242d54;
    background-image: none;
  }
  .logos-mid {
    height: auto;
    padding-top: 0px;
    padding-bottom: 80px;
    background-color: #242d54;
    background-image: none;
  }
  ._50-col-lr-mega-pad {
    width: 100%;
    padding: 100px;
  }
  .container-4 {
    padding-top: 120px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .columns-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .header2 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    height: auto;
    padding: 120px 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero.intro {
    padding-top: 7.1rem;
    padding-bottom: 7.1rem;
  }
  .heading.hero {
    font-size: 2.5rem;
  }
  .heading.main-h2 {
    margin-bottom: 30px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 2.5rem;
    line-height: 1.5;
  }
  .heading.hero-h1 {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 2.5rem;
    line-height: 1.5;
  }
  .body {
    margin-top: 0px;
  }
  .navbar {
    margin-top: 0px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .img-col.left {
    padding-top: 50px;
  }
  .img-col.left.blue {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .img-col.red {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .img-col.matt {
    height: 650px;
  }
  .red-h3 {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .grid {
    padding-top: 20px;
    padding-bottom: 18px;
    grid-column-gap: 16px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .grid.title.hero {
    padding-top: 50px;
    padding-bottom: 50px;
    grid-column-gap: 0px;
    -ms-grid-columns: 0.25fr 0.75fr 0.75fr 0.25fr;
    grid-template-columns: 0.25fr 0.75fr 0.75fr 0.25fr;
  }
  .grid.nav {
    padding-bottom: 0px;
  }
  .workleft {
    padding-bottom: 50px;
  }
  .workleft.project-2-col1 {
    padding-bottom: 0px;
  }
  .workright {
    padding-bottom: 50px;
  }
  .a-tag.link-hero {
    padding-left: 0px;
  }
  .article-col {
    padding-right: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
  }
  .column {
    text-align: center;
  }
  .column.hdr {
    text-align: right;
  }
  .column-2 {
    text-align: left;
  }
  .brand.w--current {
    padding-left: 0px;
  }
  .heading-4 {
    font-size: 18px;
  }
  .copy-l-img-r {
    padding: 60px;
    background-image: none;
  }
  .col-flex {
    padding: 60px;
  }
  ._50-col-pad-first {
    padding-bottom: 60px;
  }
  .col-flex-nopad {
    padding: 0px;
  }
  ._50-col-red {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  ._50-col-red.me {
    height: 550px;
  }
  ._50-col-lr-pad {
    padding: 0px 60px 60px;
  }
  ._3-col-flex {
    padding: 60px;
  }
  .green-h3 {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .blue-h3 {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .agency {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 160px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .clients {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .logos-top {
    height: auto;
    padding: 120px 60px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .logos-mid {
    height: auto;
    padding: 0px 60px 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  ._50-col-lr-mega-pad {
    padding: 60px;
  }
  .image-81 {
    width: 100%;
  }
  .image-82 {
    width: 100%;
  }
  .image-83 {
    width: 100%;
  }
  .columns-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .columns-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .hero {
    height: auto;
    padding: 120px 30px;
  }
  .hero.intro {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .heading.hero {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1.5rem;
  }
  .heading.main-h2 {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 2rem;
    line-height: 1.5;
  }
  .heading.small {
    margin-top: 40px;
    color: #131830;
    text-align: left;
  }
  .heading.hero-h1 {
    margin-bottom: 0px;
    padding: 0px 0px 20px;
    font-size: 2rem;
    line-height: 1.5;
  }
  .heading.hero-h1.title2 {
    font-size: 1.8rem;
  }
  .body {
    border-style: none;
    border-width: 10px;
  }
  .navbar {
    margin-top: 0px;
    padding: 24px 20px 10px;
  }
  .full-width-img {
    padding-right: 0px;
    padding-left: 0px;
    border-bottom-width: 10px;
  }
  .full-width-img.proj-image-full {
    height: 420px;
    background-image: url('../images/980-BNR.jpg'), linear-gradient(172deg, #204161 31%, #94f6ab);
    background-position: 50% 50%, 0px 0px;
    background-size: cover, auto;
  }
  .full-width-img.matt3 {
    border-top-width: 10px;
  }
  .img-col {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  .img-col.left {
    padding-top: 40px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .img-col.left.blue {
    padding-top: 40px;
  }
  .img-col.red {
    padding-right: 24px;
    padding-left: 24px;
    border-top-style: none;
    border-top-width: 10px;
  }
  .red-h3 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .grid {
    padding-top: 10px;
    grid-column-gap: 0px;
    -ms-grid-columns: 0.25fr 1fr 1fr 0.25fr;
    grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
  }
  .grid.title.hero {
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom-width: 10px;
  }
  .grid.nav {
    padding-bottom: 0px;
  }
  .workleft {
    padding: 40px 24px 20px;
    text-align: center;
  }
  .workleft.project-2-col1 {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  .workright {
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    text-align: center;
  }
  .a-tag.link-hero {
    padding-left: 0px;
    font-size: 1rem;
  }
  .a-tag.link-col {
    font-size: 1rem;
  }
  .a-tag.link-col-wh {
    font-size: 1rem;
  }
  .p-tag {
    color: #494949;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: left;
  }
  .article-col {
    padding-right: 24px;
    padding-left: 24px;
  }
  ._2-col-grid-section {
    border-bottom-width: 10px;
  }
  .column.hdr {
    padding-right: 0px;
    padding-left: 0px;
  }
  .footer2 {
    padding-right: 0px;
    padding-left: 0px;
    border-top-width: 10px;
  }
  .round {
    width: 100%;
  }
  .image-3 {
    padding-bottom: 40px;
  }
  .socialike {
    width: 20px;
    margin-left: 5px;
  }
  .image-5 {
    width: 50%;
  }
  .brand {
    padding-left: 0px;
  }
  .div-block {
    padding-top: 40px;
  }
  .intro-full {
    padding: 60px 0px 0px;
  }
  .hero-project-hero {
    padding: 0px;
  }
  .image-51 {
    display: none;
  }
  .image-75 {
    width: 75%;
  }
  .copy-l-img-r {
    padding: 60px 30px;
    border-bottom-width: 10px;
    background-image: none;
  }
  .col-flex {
    padding: 60px 30px;
    border-bottom-width: 10px;
  }
  .col-flex-nopad {
    padding: 0px;
    border-bottom-width: 10px;
  }
  ._50-col-red.me {
    height: 460px;
  }
  .image-78 {
    width: 70%;
  }
  ._50-col-lr-pad {
    padding-top: 0px;
    padding-right: 30px;
    padding-left: 30px;
  }
  ._3-col-flex {
    padding: 60px 30px;
  }
  .green-h3 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .blue-h3 {
    padding-right: 0px;
    padding-left: 0px;
    color: #8d8d8d;
  }
  .logos-top {
    height: auto;
    padding: 120px 30px;
  }
  .logos-mid {
    height: auto;
    padding: 120px 30px;
  }
  ._50-col-lr-mega-pad {
    padding-right: 30px;
    padding-left: 30px;
  }
  .heading-5 {
    font-size: 1.6875rem;
  }
  .container-4 {
    padding-top: 100px;
  }
  .heading-6 {
    font-size: 40px;
  }
  .paragraph {
    font-size: 16px;
    line-height: 24px;
  }
  .header2 {
    padding-right: 0px;
    padding-left: 0px;
    border-top-width: 10px;
  }
}

@font-face {
  font-family: 'Newyorksmall';
  src: url('../fonts/NewYorkSmall-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Newyorksmall';
  src: url('../fonts/NewYorkSmall-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}