.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.hero {
  padding-top: 0px;
  padding-bottom: 0px;
}

.hero.port {
  padding-bottom: 80px;
}

.heading {
  margin-top: 42px;
  margin-bottom: 42px;
  font-family: 'PT Serif', serif;
  color: #c5d1e7;
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 400;
}

.heading.hero {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 30px;
  color: #c5d1e7;
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 400;
}

.heading.hero.slide {
  text-align: center;
}

.heading.white {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-right: 40px;
  padding-left: 60px;
  color: #fff;
  font-size: 2.8rem;
  line-height: 1.3;
  font-weight: 400;
}

.heading.hero-copy {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 30px;
  color: #c5d1e7;
  font-size: 2.8rem;
  line-height: 1.3;
  font-weight: 400;
}

.heading.hero-copy.slide {
  text-align: center;
}

.body {
  border-style: solid;
  border-width: 30px 10vw 50px;
  border-color: #faf7eb;
  border-radius: 0px;
  background-color: #214161;
  font-family: 'PT Sans', sans-serif;
}

.navbar {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: transparent;
}

.full-width-img {
  border-bottom: 30px solid #faf7eb;
  background-image: linear-gradient(61deg, #173d86, #95f6ab);
}

.img-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 60px 150px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.img-col.left.blue {
  border-right: 15px none #faf7eb;
  background-color: #214161;
}

.img-col.red {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-left: 15px none #faf7eb;
  background-color: #fc6e69;
}

.img-col.center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.h3 {
  margin-bottom: 0px;
  padding-left: 60px;
  font-family: 'PT Sans', sans-serif;
  color: #fc6e69;
  font-size: 1.5rem;
  font-weight: 400;
}

.link {
  margin-top: 10px;
  padding-top: 0px;
  padding-left: 60px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 1.5rem;
}

.grid {
  margin-top: 0px;
  padding-top: 100px;
  grid-column-gap: 1px;
  -ms-grid-columns: 0.25fr 0.75fr 0.75fr 0.25fr;
  grid-template-columns: 0.25fr 0.75fr 0.75fr 0.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 0px;
}

.grid.title.hero {
  padding-top: 100px;
  padding-bottom: 140px;
  -ms-grid-columns: 0.25fr 0.75fr 0.75fr 0.25fr;
  grid-template-columns: 0.25fr 0.75fr 0.75fr 0.25fr;
  border-style: none none solid;
  border-width: 30px 1px;
  border-color: #faf7eb;
}

.grid.copy {
  padding-top: 0px;
}

.grid.nav {
  padding-top: 0px;
}

.workleft {
  padding-right: 30px;
  padding-bottom: 100px;
}

.workright {
  padding-left: 30px;
}

.link-2 {
  color: #fc6e69;
  font-size: 1.5rem;
  line-height: 1.5;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.link-2.link-hero {
  color: #44a98a;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: underline;
}

.link-2.link-col {
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: underline;
}

.p-tag {
  margin-bottom: 30px;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.8;
}

.menu {
  color: #faf7eb;
}

.container {
  padding-right: 10px;
  padding-left: 10px;
}

.container-2 {
  padding-right: 11px;
  padding-left: 11px;
}

.article-col {
  padding-bottom: 120px;
}

._2-col-grid-section {
  border-bottom: 30px solid #faf7eb;
  border-radius: 0px;
}

.column {
  line-height: 45px;
  text-align: right;
}

.column-2 {
  line-height: 45px;
  text-align: left;
}

.footer2 {
  padding-top: 23px;
  padding-bottom: 23px;
  border-top: 30px solid #faf7eb;
}

.slide.full-width-img {
  display: none;
}

.left-arrow {
  display: none;
}

.right-arrow {
  display: none;
}

.slider {
  height: 540px;
  background-color: transparent;
}

.heading-2 {
  font-family: 'PT Serif', serif;
  color: #fff;
  text-align: center;
}

.round {
  border-radius: 14px;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 560px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.image-3 {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.socialike {
  margin-left: 10px;
}

.heading-3 {
  font-family: 'PT Serif', serif;
  color: #fff;
}

.grid-2 {
  grid-column-gap: 0px;
  -ms-grid-columns: 0.25fr 0.75fr 0.75fr 0.25fr;
  grid-template-columns: 0.25fr 0.75fr 0.75fr 0.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image {
  border-bottom: 30px solid #faf7eb;
}

.image-4 {
  width: 100%;
}

.image-5 {
  width: 54%;
}

@media (max-width: 991px) {
  .heading.hero {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 3rem;
  }
  .heading.white {
    font-size: 3rem;
  }
  .heading.hero-copy {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 3rem;
  }
  .body {
    border-width: 30px;
  }
  .navbar {
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .full-width-img {
    background-image: linear-gradient(172deg, #173d86, #94f6ab);
  }
  .img-col {
    display: block;
    padding-top: 80px;
    padding-right: 10px;
    padding-bottom: 80px;
    text-align: center;
  }
  .img-col.left {
    padding-bottom: 0px;
    text-align: left;
  }
  .img-col.left.blue {
    padding-top: 60px;
    padding-bottom: 60px;
    border-right-style: none;
  }
  .img-col.red {
    border-top: 30px solid #faf7eb;
    border-left-style: none;
  }
  .img-col.center {
    padding-right: 62px;
    padding-left: 62px;
  }
  .columns {
    display: block;
  }
  .grid {
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .grid.title.hero {
    padding-top: 80px;
    padding-bottom: 80px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .grid.nav {
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .workleft {
    padding-right: 0px;
    padding-bottom: 60px;
    padding-left: 0px;
  }
  .workright {
    padding-right: 0px;
    padding-bottom: 60px;
    padding-left: 0px;
  }
  .link-2.link-hero {
    padding-left: 20px;
  }
  .link-2.link-col {
    padding-left: 0px;
  }
  .p-tag {
    margin-bottom: 30px;
    font-size: 1.25rem;
  }
  .footer2 {
    padding-right: 101px;
    padding-left: 100px;
  }
}

@media (max-width: 767px) {
  .heading.hero {
    font-size: 2.5rem;
  }
  .heading.white {
    font-size: 2.5rem;
  }
  .heading.hero-copy {
    font-size: 2.5rem;
  }
  .img-col.left {
    padding-top: 50px;
  }
  .img-col.left.blue {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .img-col.red {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .img-col.center {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .grid {
    padding-top: 50px;
    grid-column-gap: 16px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .grid.title.hero {
    grid-column-gap: 0px;
    -ms-grid-columns: 0.25fr 0.75fr 0.75fr 0.25fr;
    grid-template-columns: 0.25fr 0.75fr 0.75fr 0.25fr;
  }
  .workleft {
    padding-bottom: 50px;
  }
  .article-col {
    padding-bottom: 50px;
  }
  .column {
    text-align: center;
  }
  .column-2 {
    text-align: center;
  }
}

@media (max-width: 479px) {
  .hero {
    padding-top: 40px;
    padding-bottom: 70px;
  }
  .heading.hero {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1.5rem;
  }
  .heading.white {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 1.5rem;
  }
  .heading.hero-copy {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1.5rem;
  }
  .body {
    border-width: 10px;
  }
  .img-col {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  .h3 {
    padding-left: 0px;
  }
  .link {
    padding-left: 0px;
  }
  .grid {
    padding-top: 20px;
    grid-column-gap: 0px;
    -ms-grid-columns: 0.25fr 1fr 1fr 0.25fr;
    grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
  }
  .grid.title.hero {
    padding-top: 0px;
  }
  .workleft {
    padding: 60px 10px;
  }
  .workright {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footer2 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .image-5 {
    width: 50%;
  }
}

#w-node-72b1d0b47336-436601f5 {
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

@media screen and (max-width: 991px) {
  #w-node-72b1d0b47336-436601f5 {
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column: 2;
    grid-column-start: 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-72b1d0b47336-436601f5 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-72b1d0b47336-436601f5 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-6f993e0d71f0-436601f5 {
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

@media screen and (max-width: 991px) {
  #w-node-6f993e0d71f0-436601f5 {
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column: 2;
    grid-column-start: 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-6f993e0d71f0-436601f5 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-6f993e0d71f0-436601f5 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-3431a5b26002-436601f5 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

@media screen and (max-width: 991px) {
  #w-node-3431a5b26002-436601f5 {
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column: 2;
    grid-column-start: 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-3431a5b26002-436601f5 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-3431a5b26002-436601f5 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-b57bafd6e1f1-436601f5 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

@media screen and (max-width: 991px) {
  #w-node-b57bafd6e1f1-436601f5 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
  }
}

@media screen and (max-width: 767px) {
  #w-node-b57bafd6e1f1-436601f5 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-b57bafd6e1f1-436601f5 {
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
  }
}

#w-node-83e5b1f90c76-436601f5 {
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

@media screen and (max-width: 991px) {
  #w-node-83e5b1f90c76-436601f5 {
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column: 2;
    grid-column-start: 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-83e5b1f90c76-436601f5 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-83e5b1f90c76-436601f5 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-3431a5b26002-089c2cb4 {
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

@media screen and (max-width: 991px) {
  #w-node-3431a5b26002-089c2cb4 {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column: 1;
    grid-column-start: 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-3431a5b26002-089c2cb4 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-3431a5b26002-089c2cb4 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-51f7637b234c-089c2cb4 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

@media screen and (max-width: 991px) {
  #w-node-51f7637b234c-089c2cb4 {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column: 1;
    grid-column-start: 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-51f7637b234c-089c2cb4 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-51f7637b234c-089c2cb4 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-51f7637b234f-089c2cb4 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

@media screen and (max-width: 991px) {
  #w-node-51f7637b234f-089c2cb4 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 5;
  }
}

@media screen and (max-width: 767px) {
  #w-node-51f7637b234f-089c2cb4 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-51f7637b234f-089c2cb4 {
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
  }
}

#w-node-63466ec3e063-089c2cb4 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

@media screen and (max-width: 991px) {
  #w-node-63466ec3e063-089c2cb4 {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column: 1;
    grid-column-start: 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-63466ec3e063-089c2cb4 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-63466ec3e063-089c2cb4 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-63466ec3e06c-089c2cb4 {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

@media screen and (max-width: 991px) {
  #w-node-63466ec3e06c-089c2cb4 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 5;
  }
}

@media screen and (max-width: 767px) {
  #w-node-63466ec3e06c-089c2cb4 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-63466ec3e06c-089c2cb4 {
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
  }
}

